* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  width: 100vw;
  height: 100vh;
}

.NavBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  padding-left: 50px;
  padding-right: 50px;
  box-shadow: 0px 0px 5px;
}

.changeTheme {
  width: 150px;
  display: flex;
  justify-content: space-evenly;
  cursor: pointer;
}

.SearchBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  padding-left: 20px;
  padding-right: 20px;
}

.fa-search {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
}

.search input {
  height: 100%;
  width: 80%;
  padding-left: 10px;
  border: none;
}

.search {
  display: flex;
  width: 300px;
  height: 60%;
  border: none;
  box-shadow: 0px 0px 5px;
}

.option {
  width: 150px;
  height: 60%;
  border: none;
  box-shadow: 0px 0px 5px;
}

.selectOption {
  width: 100%;
  height: 100%;
  padding-left: 10px;
  padding-right: 10px;
  border: none;
}

.CountryList {
  width: 100%;
  height: 80%;
  overflow-y: scroll;
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.card {
  width: 300px;
  height: 400px;
  margin: 50px;
  box-shadow: 0px 0px 10px;
}

.flag {
  width: 100%;
  height: 50%;
}

.flag img {
  width: 100%;
  height: 100%;
}

.CountryDetails {
  margin-top: 10px;
  width: 90%;
  height: 20%;
  margin-left: 10%;

}

.CountryName {
  margin-top: 20px;
  display: flex;
  align-items: center;
  width: 90%;
  margin-left: 10%;
  height: 10%;
}

::-webkit-scrollbar {
  display: none;
}